.config/qutebrowser/config.py
.IdeaIC2019.1/
.Xauthority
.Xresources
.cache/
.config/.composite_enabled
.config/GIMP/
.config/Kitware/
.config/QtProject.conf
.config/audacious/
.config/chromium/
.config/compton.conf
.config/configstore/
.config/conky/
.config/dconf/
.config/deadbeef/
.config/doublecmd/
.config/dunst/
.config/fontconfig/
.config/geany/
.config/google-chrome/
.config/gsimplecal/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/jgmenu/
.config/libreoffice/
.config/menus/
.config/mimeapps.list
.config/mpv/
.config/networkmanager-dmenu/
.config/nitrogen/
.config/nvim/
.config/openbox/
.config/openboxorigi/
.config/pavucontrol.ini
.config/polybar/
.config/polybarorigi/
.config/pulse/
.config/qBittorrent/
.config/qutebrowser/autoconfig.yml
.config/qutebrowser/qsettings/
.config/ranger/
.config/skippy-xd/
.config/tint2/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.config/xfce4/
.dbeaver-drivers/
.dbeaver4/
.dmrc
.eclipse/
.esd_auth
.gitconfig
.gradle/
.gtkrc-2.0
.h2.server.properties
.homepage/
.hushlogin
.java/
.local/
.m2/
.mozilla/
.mysql/
.mysql_history
.npm/
.oh-my-zsh/
.pki/
.screenrc
.sts4/
.swt/
.tempgit
.tooling/
.vim/.netrwhist
.vim/after/
.vim/colors/monokai.vim
.vim/swp/
.viminfo
.viminfo.tmp
.viminfz.tmp
.vimrcorigi
.xprofile
.xsession-errors
.xsession-errors.old
.zcompdump
.zcompdump-archlabs-5.7.1
.zdirs
.zsh/
.zsh_history
.zshrcorigi
A_Music/
Confiles/
Documents/
Downloads/
Head-First-Design-Patterns-master/
Matritel/
NotesCalculator/
Pictures/
Projects/
Spring/
asusconfiles/qutebrowser/
bin/
designpatterns.md
dwhelper/
git.txt
glxinfo/
jar/
lemachine/
matritelproject/
net.downloadhelper.coapp-1.2.4/
springbootwebapp/
thymeleafexamples-layouts/

